doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Trang chủ
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' type='text/css' href='/css/bootstrap.min.css')
  script(type='text/javascript' src='/js/jquery.min.js')
  script(type='text/javascript' src='/js/bootstrap.min.js')
  link(rel='stylesheet' type='text/css' href='/css/styles.css')
  link(rel='stylesheet' type='text/css' href='/css/sidebar.css')
  link(rel='shortcut icon' type='image/x-icon' href='/images/ic_book.png')
header
  .top-header
    .container-fluid.no-padding(style='margin-left: 0;')
      .row(style='padding-left: 15px')
        .col-md-2.col-sm-2.col-xs-12
          .header-logo
            p
              a(href='/')
                input(alt='' src='/images/logo.png' style='width: 170px; height: 60px;' type='image')
        .col-md-5.col-md-offset-1.col-sm-5.col-sm-offset-1.col-xs-12
          .header-search
            form(method='POST' accept-charset='utf-8' action='/products/searchs/search_page' role='form')
              input#myInput.search_text(type='text' placeholder='Bạn cần tìm gì?' onkeyup='myFunction()' name='keyword' required)
              button.search_btn.btn-search(type='submit')
                i.fa.fa-search
              select.form-control.input-sm(name='typeSearch' style='position: absolute; height: 45px; width: 70px; top: 0; right: 45px; background: #fb005b; color: #fff; font-weight: bold;')
                option(value='1' selected) Tên
                option(value='2') Loại
                option(value='3') NXB
        if (isLogged)
          .col-md-1.col-md-offset-2.col-sm-1.col-sm-offset-2.col-xs-12
            .fun-btn.text-center
              button.btn.btn-default.dropdown-toggle(data-toggle='dropdown' style='padding: 11px 20px; border-radius: 50%; color: #fff; background-color: #fb005b;') #{user.lastname.charAt(0)}
              ul.dropdown-menu.pointer(style='border-radius: 5px; right: 0; left: auto;')
                li.information(style='font-weight: bold; padding: 3px 10px;') #{user.firstname + ' ' + user.lastname}
                li.information(style='font-weight: bold; padding: 3px 10px;') #{user.email}
                li(style='padding: 3px 10px;')
                  a(href='/users/editInfo' style='color: #3995f7; padding: 3px 20px; font-weight: normal; line-height: 1.5; font-size: 15px;') C&#x1EAD;p nh&#x1EAD;t th&ocirc;ng tin c&aacute; nh&acirc;n
                li(style='padding: 3px 10px;')
                  a(href='/cart/myCart' style='color: #3995f7; padding: 3px 20px; font-weight: normal; line-height: 1.5; font-size: 15px;') Xem gi&#x1ECF; h&agrave;ng
                li(style='padding: 3px 10px;')
                  a(href='/cart/viewHistory' style='color: #3995f7; padding: 3px 20px; font-weight: normal; line-height: 1.5; font-size: 15px;') Xem l&#x1ECB;ch s&#x1EED; mua h&agrave;ng
                li(style='padding: 3px 10px;')
                  a(href='/users/logOut' style='color: #3995f7; padding: 3px 20px; font-weight: normal; line-height: 1.5; font-size: 15px;') &Dstrok;&abreve;ng xu&#x1EA5;t
        else
          .col-md-3.col-sm-3.col-xs-12
            .fun-btn.text-center
              a.btn.btn-success(href='/users/logIn' style='padding: 11px 13px;') Đăng nhập
              | 
              a.btn.btn-info(href='/users/signUp' style='padding: 11px 22px;') Đăng ký
        .clearfix
