#sidebar.col-xs-6.col-sm-2.col-sm-pull-10.sidebar-offcanvas
  .list-group
    a.list-group-item.active.disabled(href='#' style='cursor: default; background-color: #fb005b; border-color: #fb005b') Quản lý sản phẩm
    a.list-group-item(href='/admin/books') Xem danh sách sản phẩm
    a.list-group-item(href='/admin/types') Xem danh sách thể loại
    a.list-group-item(href='/admin/companys') Xem danh sách nhà xuất bản
    a.list-group-item(href='/admin/addBook') Thêm sản phẩm
    a.list-group-item(href='/admin/addType') Thêm thể loại
    a.list-group-item(href='/admin/addCompany') Thêm nhà xuất bản
    a.list-group-item.active.disabled(href='#' style='cursor: default; background-color: #fb005b; border-color: #fb005b') Quản lý người dùng
    a.list-group-item(href='/admin/users') Xem danh sách người dùng
    a.list-group-item.active.disabled(href='#' style='cursor: default; background-color: #fb005b; border-color: #fb005b') Quản lý đơn hàng
    a.list-group-item(href='/admin/orders') Xem danh sách đơn hàng
