include ../layout/headerAdmin.pug
.container-fluid
  .row.row-offcanvas.row-offcanvas-right
    .col-xs-12.col-sm-10.col-sm-push-2
      section.group_cat_home
        .container-fluid
          .row
            .group_title_1
              .row
                .col-md-4.col-sm-4.col-xs-12
                  h3.name-group
                    a.title-name-group(href='#' style='pointer-events: none;') Quản lý sản phẩm
            ul.list-group.history-list-group.admin_list_book
              include books.pug
            .clearfix
            .viewmore-section
              a.view_more(href='#view_more_book')
                span
                  | Xem th&ecirc;m s&#x1EA3;n ph&#x1EA9;m 
                  i.fa.fa-angle-double-right
              ul#view_more_book.pagination.pagination-lg.my-pagination.hide
                each page_number in page_numbers
                  if (page_number.isCurPage)
                    li
                      a.admin_page_number.admin_active_page(href='/admin/adminBookPage/?page=' + page_number.value)
                        span= page_number.value
                  else
                    li
                      a.admin_page_number(href='/admin/adminBookPage/?page=' + page_number.value)
                        span= page_number.value
    include ../layout/sidebarAdmin.pug
script(type='text/javascript' src='/js/app.js')
