include ../layout/headerAdmin.pug
.container-fluid
  .row.row-offcanvas.row-offcanvas-right
    .col-xs-12.col-sm-10.col-sm-push-2
      section.group_cat_home
        .container-fluid
          .row
            .group_title_1
              .row
                .col-md-4.col-sm-4.col-xs-12
                  h3.name-group
                    a.title-name-group(href='#' style='pointer-events: none;') Quản lý người dùng
            ul.list-group.history-list-group.admin_list_user
              include users.pug
            .clearfix
            .viewmore-section
              a.view_more(href='#view_more_user')
                span
                  | Xem thêm người dùng 
                  i.fa.fa-angle-double-right
              ul#view_more_user.pagination.pagination-lg.my-pagination.hide
                each page_number in page_numbers
                  if (page_number.isCurPage)
                    li
                      a.admin_user_page_number.admin_active_user_page(href='/admin/adminUserPage/?page=' + page_number.value)
                        span= page_number.value
                  else
                    li
                      a.admin_user_page_number(href='/admin/adminUserPage/?page=' + page_number.value)
                        span= page_number.value
    include ../layout/sidebarAdmin.pug
script(type='text/javascript' src='/js/app.js')
