each item in items
  a(href='/cart/viewDetailHistory/' + item.id)
    li.list-group-item
      | Ng&agrave;y mua: #{item.date}
      br
      | S&#x1ED1; l&#x1B0;&#x1EE3;ng: #{item.amount}
      br
      | T&#x1ED5;ng gi&aacute; ti&#x1EC1;n: #{item.price} &dstrok;
      