footer
  .bottom_footer
    .container.no-padding
      .row
        .right-color-f
          .top-footer
            .col-md-4.col-sm-4.col-xs-12
              .block-footer
                strong.title QUY &Dstrok;&#x1ECA;NH - CH&Iacute;NH S&Aacute;CH
                .content
                  ul
                    li
                      a(href='#' style='pointer-events: none;') Ch&iacute;nh s&aacute;ch &dstrok;&#x1ED5;i tr&#x1EA3;
                    li
                      a(href='#' style='pointer-events: none;') Giao h&agrave;ng &amp; Thanh to&aacute;n
            .col-md-4.col-sm-4.col-xs-12
              .block-footer
                strong.title H&#x1ED6; TR&#x1EE2; KH&Aacute;CH H&Agrave;NG
                .content
                  ul
                    li
                      a(href='#' style='pointer-events: none;') Gi&#x1EDD; l&agrave;m vi&#x1EC7;c: (8h - 21h00)
                    li
                      a(href='tel:0985242424' style='pointer-events: none;')
                        | Ph&#x1EA3;n &aacute;nh ch&#x1EA5;t l&#x1B0;&#x1EE3;ng: 
                        span(style='color:#ffff00;')
                          strong 0985.242424
                  .bottom-block-f
                    img(src='/images/phone.png' alt='')
                    p
                      span T&#x1ED5;ng &dstrok;&agrave;i h&#x1ED7; tr&#x1EE3;:
                      span.phone-num
                        a(style='color: yellow; cursor: pointer;' href='tel:19000351') 1900.0351
            .col-md-4.col-sm-4.col-xs-12
              .block-footer.last
                strong.title HDSTORE.VN
                .content
                  p &nbsp;
                  ul
                    li
                      a(href='#' style='pointer-events: none;') Gi&#x1EDB;i thi&#x1EC7;u c&ocirc;ng ty
                    li
                      a(href='#' style='pointer-events: none;') Tin t&#x1EE9;c
                    li
                      a(href='#' style='pointer-events: none;') Tuy&#x1EC3;n d&#x1EE5;ng
                    li
                      a(href='#' style='pointer-events: none;') Li&ecirc;n h&#x1EC7;
                    li
                      a(href='#' style='pointer-events: none;') Chu&#x1ED7;i c&#x1EED;a h&agrave;ng
                  br
            .clearfix
          .bottom-footer
            .row
              .col-md-9.col-sm-9.col-xs-12
                .list-info-footer(style='text-align: justify;')
                  | Copyright &copy; 2017 BookStore.vn. All right Reserved.
                  br
                  |                     Website n&agrave;y tr&#x1EF1;c thu&#x1ED9;c CTY TNHH 2TV HD.
              .col-md-3.col-sm-3.col-xs-12
                .list-socials
                  a.facebook(href='https://www.facebook.com/' target='_blank')
                    i.fa.fa-facebook
                    span.sr-only Facebook
                  a.youtube(href='https://www.youtube.com/' target='_blank')
                    i.fa.fa-youtube
                    span.sr-only Youtube
                  a.google(href='https://plus.google.com/' target='_blank')
                    i.fa.fa-google-plus
                    span.sr-only Google Plus
            .clearfix
    .clearfix
script(type='text/javascript' src='/js/styles.js')
script(type='text/javascript' src='/js/app.js')
