section.section-slide
  .container-fluid
    .row
      .slideshow-container
        .mySlides._fade
          img(alt='' src='/images/banner-1.jpg')
        .mySlides._fade
          img(alt='' src='/images/banner-2.jpg')
        .mySlides._fade
          img(alt='' src='/images/banner-3.png')
        .mySlides._fade
          img(alt='' src='/images/banner-4.png')
        .mySlides._fade
          img(alt='' src='/images/banner-5.jpg')
        span.prev(onclick='plusSlides(-1)') &#x276E;
        span.next(onclick='plusSlides(1)') &#x276F;